*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body{
  font-family: 'Raleway', sans-serif;
}
header{
  width: 100%;
}

main{
  width: 100%;
  /*height: 500px;*/
  background-color: #f5f8fa;
}
footer{
  width: 100%;
  height: 100px;*/
}
.header-top{
  background-color: #f5f8fa;
  width: 100%;
  height: 100px;
}
.header-bottom{
  background-color: #ffffff;
  width: 100%;
  height: 100px;
}
/*header.nav*/
.header-nav{
  width: 85%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}
.header-nav::after{
  content:"";
  display: table;
  clear: both;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
/*list*/
.list{
  list-style: none;
}
.list li{
  margin: 0 10px;
  display: inline;
}
.nav-left img{
  width: 120px;
  height:80px;
}
.list a{
  text-decoration: none;
  color: #33475b;
  font-size: 14px;
  font-weight: bold;
}
.nav-right .list i {
  color: #46bcce;
}
/*hero*/
.hero-container{
  background-image: url(../img/jumbotron.png);
  background-color: #afebe4;
  background-size: 1500px 800px;
  background-position: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}
.hero{
  width: 85%;
  margin: 0 auto;

}
.text-hero {
  width: 85%;
  color: #33475b;
  text-align: left;
  padding: 90px 100px;
}
/*buttonorange*/
.buttonorange{
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  border-radius:5px;
  background-color: #ff7a59;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 22px;
  margin-top: 10px;
}
.text-hero .buttonorange{
  margin: 40px;
  display: block;
  width: 250px;
  padding: 20px;
}
/*buttonborder*/
.buttonborder{
  padding: 10px 30px;
  display: inline-block;
  border: 2px solid orange;
  border-radius:5px;
  background-color: #fff;
  color: orange;
  text-transform: uppercase;
  line-height: 22px;
}
/*features text-hero*/
.text-hero h1{
  font-size: 50px;
  margin-bottom:30px;
}
.text-hero p{
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.text-hero span{
 font-weight: normal;
}
/*section-motivation*/
.section-motivation{
  width: 100%;
  margin-bottom: 40px;
}
/*container-mot*/
.container-mot{
  vertical-align: middle;
  text-align: center;
  color: #33475b;
}
.container-mot h2{
  margin-bottom: 30px;
  font-size: 30px;
}
.container-mot p{
  width: 85%;
  font-size: 20px;
  margin-left: 10%;

}

/*section-info*/
.info{
  width: 85%;
  background-color: white;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #dedede;
}
.info::after{
  content: "";
  display: table;
  clear: both;
}
/*learn*/
.learn{
  float: left;
  width: 20%;
  height: 300px;
  text-align: center;
  display: inline-block;
  margin: 0 10%;
}
/*free*/
.free{
  float: right;
  width: 60%;
  height: 300px;
  display: inline-block;
  color: #33475b;
  line-height: 40px;
}
.free span{
  margin-left: 10%;
  text-transform: capitalize;
}
.free span img{
  width: 12px;
  margin-right: 20px;
}
/*section-hub*/
.section-hub{
  width: 100%;
  height: 500px;

}
.container-hub{
  width: 85%;
  margin:10% auto;
}
.container-hub::after{
  content: "";
  display: table;
  clear: both;
}
.hub{
  display: inline-block;
  background-color: #fff;
  color: #33475b;
  width:30%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  line-height: 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #dedede;
}
.hub.marketing{
  float: left;
}
.hub.service{
  float: right;
}
.sales{
  margin: 0 40px;
}
.hub hr{
  border-width: thin;
  width: 240px;
  border-spacing: 30px;
  margin-left: 60px;
}

.hub li{
  list-style:circle;
  list-style-position: inside;
  text-align: justify;
  margin-left: 60px;
}
/*section-number*/
.number{
  width: 85%;
  height: 500px;
  margin: 0 auto;
  background-color: #00b8a9;
}
.number .text{
  width: 85%;
  margin: 0 auto;
  padding:0 10%;
  height: 250px;
  color: #fff;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.table {
  width: 85%;
  margin: 0 auto;

}

.table::after{
  content: "";
  display: table;
  clear: both;
}

.col{
  display: inline-block;
  float: left;
  width: 20%;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
.col:first-child{
  margin-left: 10%;
}
.first, .second, .third{
  border-right: 2px solid #fff;
}
.fourth{
  border-left: 2px solid #fff;
}

.table h2{
  font-size: 40px;
  color: #fff;
}
.table h2 span{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}
.table p{
  color: #fff;
  font-size: 15px;
}
.col.fourth img{
  margin: 8px;
}
/*section start*/

.sponsor{
  width: 85%;
  margin: 0 auto;
}
.sponsor::after{
  content: "";
  display: table;
  clear: both;
}

.customers{
  float: left;
  color: #33475b;
  width: 40%;
  padding: 40px 40px;
  text-align: justify;
  line-height: 30px;
  vertical-align: 30px;
}
.customers h2{
  font-size: 45px;
  margin-bottom: 20px;
}
.customers p{
  font-size: 22px;
}
.logo{
  float: right;
  width: 60%;
}
.image{
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
.logo img{
  width: 125px;
}
.container-growing{
  width: 85%;
  margin: 10% auto;
}
.container-growing::after{
  content: "";
  display: table;
  clear: both;
}
.gethusbspotfree{
  float: left;
  width: 40%;
  text-align: justify;
  line-height: 30px;
  vertical-align: 30px;
  color: #33475b;
  padding: 50px;
}
.gethusbspotfree h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.gethusbspotfree p{
  font-size: 20px;
  margin-bottom: 20px;
}
.gethusbspotfree span{
  display: block;
  font-size: 12px;
  margin-top: 20px;
}
.person{
  float: right;
  margin-right: 10%;
}
.person img{
  width: 350px;
  text-align: center;
  vertical-align: middle;
}
