*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body{
  font-family: 'Raleway', sans-serif;
}
/*main*/
main{
  /*background-color: #f5f8fa;*/
  background-color: #fff;
}

/*header*/
.header-top{
  width: 100%;
  height: 100px;
  background-color: #f5f8fa;
}
.header-bottom{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
/*header.nav*/
.header-nav{
  width: 85%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}
.header-nav::after{
  content:"";
  display: table;
  clear: both;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
/*list*/
.list{
  list-style: none;
}
.list li{
  display: inline;
  margin: 0 10px;
}
.nav-left img{
  width: 120px;
  height:80px;
}
.list a{
  text-decoration: none;
  color: #33475b;
  font-size: 14px;
  font-weight: bold;
}
.nav-right .list i {
  color: #46bcce;
}
/*hero*/
.hero-container{
  width: 100%;
  height: 900px;
  margin-bottom: 0;
  background-image: url(../img/jumbotron.png);
  background-color: #fff3ee;
  background-size: 1450px 920px;
  background-position: 100%;
  background-repeat: no-repeat;
}
.hero{
  width: 85%;
  margin: 0 auto;
}
.text-hero {
  width: 85%;
  color: #33475b;
  padding: 90px 100px;
  text-align: left;
}
.under-hero{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border: 3px solid black;
  border-left: 0;
  border-right: 0;
  background-color: #84e3f4;
}
/*buttonorange*/
.buttonorange{
  display: inline-block;
  background-color: #ff7a59;
  margin-top: 10px;
  padding: 12px;
  border-radius:5px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 22px;
}
.text-hero .buttonorange{
  display: block;
  width: 250px;
  margin: 40px;
  padding: 20px;
}
/*buttonborder*/
.buttonborder{
  display: inline-block;
  background-color: #fff;
  border: 2px solid orange;
  border-radius:5px;
  padding: 10px 30px;
  line-height: 22px;
  color: orange;
  text-transform: uppercase;
}
/*features text-hero*/
.text-hero h1{
  margin-bottom:30px;
  font-size: 50px;
}
.text-hero p{
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}
.text-hero span{
 font-weight: normal;
}
/*section-motivation*/
.section-motivation{
  width: 100%;
  margin-bottom: 40px;
  background-color: #f5f8fa;
}
/*container-mot*/
.container-mot{
  vertical-align: middle;
  text-align: center;
  color: #33475b;
}
.container-mot h2{
  margin-bottom: 30px;
  font-size: 30px;
}
.container-mot p{
  width: 85%;
  margin-left: 10%;
  font-size: 20px;
}

/*section-info*/
.section-info{
  width: 100%;
  background-color: #f5f8fa;
}
.info{
  width: 85%;
  margin: 0 auto;
  background-color:#fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #dedede;
}
.info::after{
  content: "";
  display: table;
  clear: both;
}
/*learn*/
.learn{
  float: left;
  width: 20%;
  height: 300px;
  margin: 0 10%;
  text-align: center;
}
/*free*/
.free{
  float: right;
  width: 60%;
  height: 300px;
  color: #33475b;
  line-height: 40px;
}
.free span{
  margin-left: 10%;
  text-transform: capitalize;
}
.free span img{
  width: 12px;
  margin-right: 20px;
}
.popular{
  position:relative;
}
.popular p::after{
  content: "";
  position: absolute;
  top: 14px;
  left: 200px;
  width: 50%;
  height: 5px;
  margin-left: 10px;
  border-bottom: 1px solid #e0e6ed;
}
/*section-hub*/
.section-hub{
  width: 100%;
  background-color: #f5f8fa;
}
.container-hub{
  width: 85%;
  margin:10% auto;
}
.container-hub::after{
  content: "";
  display: table;
  clear: both;
}
.hub{
  display: inline-block;
  width:30%;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #dedede;
  color: #33475b;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.hub.marketing{
  float: left;
}
.hub.service{
  float: right;
}
.sales{
  margin: 0 40px;
}
.hub hr{
  width: 240px;
  margin-left: 60px;
  border-width: thin;
  border-spacing: 30px;
}

.hub li{
  margin-left: 60px;
  list-style:circle;
  list-style-position: inside;
  text-align: justify;
}
/*section-number*/
.number{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(0, 184, 169);
}
.number .text{
  width: 85%;
  height: 250px;
  margin: 0 auto;
  padding:0 10%;
  color: #fff;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.table {
  width: 85%;
  margin: 0 auto;
}

.table::after{
  content: "";
  display: table;
  clear: both;
}

.col{
  display: inline-block;
  float: left;
  width: 20%;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
.col:first-child{
  margin-left: 10%;
}
.first, .second, .third{
  border-right: 2px solid #fff;
}
.fourth{
  border-left: 2px solid #fff;
}

.table h2{
  font-size: 40px;
  color: #fff;
}
.table h2 span{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}
.table p{
  color: #fff;
  font-size: 15px;
}
.col.fourth img{
  margin: 8px;
}
/*section start*/
.start{
  width: 100%;
  background-color: #fff;
}
.sponsor{
  width: 85%;
  margin: 0 auto;
}
.sponsor::after{
  content: "";
  display: table;
  clear: both;
}
/*customers*/
.customers{
  float: left;
  width: 40%;
  padding: 40px 40px;
  color: #33475b;
  text-align: justify;
  line-height: 30px;
  vertical-align: 30px;
}
.customers h2{
  font-size: 45px;
  margin-bottom: 20px;
}
.customers p{
  font-size: 22px;
}
/*image*/
.logo{
  float: right;
  width: 60%;
}
.image{
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
.logo img{
  width: 125px;
}
/*section growing*/
.growing{
  width: 100%;
  background-color: #fff;
}
/*container-growing*/
.container-growing{
  width: 85%;
  margin: 10% auto;
}
.container-growing::after{
  content: "";
  display: table;
  clear: both;
}
/*gethusbspotfree*/
.gethusbspotfree{
  float: left;
  width: 40%;
  padding: 50px;
  text-align: justify;
  line-height: 30px;
  vertical-align: 30px;
  color: #33475b;
}
.gethusbspotfree h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.gethusbspotfree p{
  font-size: 20px;
  margin-bottom: 20px;
}
.gethusbspotfree span{
  display: block;
  font-size: 12px;
  margin-top: 20px;
}
/*person*/
.person{
  float: right;
  margin-right: 10%;
}
.person img{
  width: 350px;
  text-align: center;
  vertical-align: middle;
}
/*footer*/
footer{
  width: 100%;
  background-color: #33475b;
}
.footer-top{
  width: 100%;
  margin: 0 auto;
}
.footer-bottom{
  width: 85%;
  margin: 0 auto;
}
/*container-infolink*/
.container-infolink{
  margin: 0 auto;
  width: 85%;
}
.container-infolink::after{
  content: "";
  display: table;
  clear: both;
}
.infolink{
  float: left;
  width: 20%;
  margin: 0 20px;
  padding: 30px;
}
.infolink h3{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}
.infolink li{
  text-align: justify;
  list-style: none;
  margin: 5px;
}
.infolink a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}
/*button contact*/
#contact{
  height: 40px;
  padding: 0;
  margin: 3px;
  background-color: #eff1f2;
  color: #33475b;
  border-color: #eff1f2;
  font-size: 12px;
  text-align: center;
}
.icons li{
  display: inline-block;
  margin: 4px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
/*footer-bottom*/
.nav-footer{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  vertical-align:50px;
  color: #eff1f2;
}
.nav-footer li{
  display: inline-block;
  list-style: none;
}
/*languages*/
.languages a{
  margin: 0 50px;
  text-decoration: none;
  font-size: 16px;
  color: #eff1f2;
  text-transform: capitalize;
}
hr{
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid #eff1f2;
}
/*nav-down*/
.nav-down{
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
.nav-down::after{
  content:"";
  display: table;
  clear: both;
}
.nav-down-left{
  float: left;
  width: 40%;
}
.nav-copyright img{
  width: 180px;
  margin-top: 30px;
  margin-right:200px;
  text-align: justify;
}
.copyright a{
  text-decoration: none;
  text-align: left;
  color: #eff1f2;
  font-size: 16px;
}
.copyright:last-child{
  margin-right: 180px;
  font-size: 12px;
  line-height: 20px;
}
.nav-down-right{
  float: right;
  width: 40%;
}
.note li{
  margin:30px;
}
.note a{
  text-decoration: none;
  color: #eff1f2;
  font-size: 16px;
}
