*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  color: #33475b;
}
/*header*/
.header-top{
  height: 250px;
  background-color: #d7e2e8;
  height: 90px;

}
/*nav-top*/
.nav-top{
  width: 85%;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
}
/*state::after for nav-top*/
.nav-top::after{
  content: "";
  display: table;
  clear: both;
}
/*float left and right*/
.top.left{
  float: left;
}
.top.right{
  float: right;
}
.nav li{
  display: inline;
  list-style: none;
}
.nav a{
  text-decoration: none;
  color: #33475b;
  font-size: 12px;
  padding: 10px;
}

/*header-bottom*/
.header-bottom{
  background-color: pink;
  width: 100%;
  height: 500px;
}

/*main*/
main{
  background-color: yellow;
  width: 100%;
  height: 300px;
}
/*footer*/
footer{
  background-color: green;
  width: 100%;
  height: 200px;
}
